header, main, footer{
    padding-left: 300px;
}
.icon-margin{
    margin-right: 15px;
}
.text-shadow {
    text-shadow: 2px 2px 4px #000000;
}
.margin{
    margin: 20px !important;
}
.side-nav li>a {
    font-size: 25px;
    height: 58px;
}
.side-nav{
    width: 320px;
}