header, main, footer{
    /*padding-left: 300px;*/
    padding-left: 19%;
}
.content{
    margin: 1.5%;
    width: 94%;
}
.icon-margin{
    margin-right: 15px;
}
.text-shadow {
    text-shadow: 2px 2px 4px #000000;
}
.margin{
    margin: 20px !important;
}
/*.side-nav li>a {
    font-size: 25px;
    height: 58px;
}*/

.side-nav li>a:first-child {
    margin-top:0;
}

.side-nav{
    width: 20%;
}

.dashboard-title{
    font-size: 20px;
    margin: 2%;
}

.dashboard-subtitle{
    font-size: 16px;
    margin: 2%;
}

.dashboard-text{
    font-size: 15px;
}

.divider{
    margin: 10% 0 0 0 !important;
}