.navbar-fixed{
    margin-bottom: 15px;
}
.icon-margin{
    margin-right: 15px;
}
.brand-logo{
    margin-left: 20px;
}
.text-shadow {
    text-shadow: 2px 2px 4px #000000;
}
.margin{
    margin: 20px !important;
}
#loginCard{
    height: 100vh;
    margin: 0;
}
input{
    font-size:24px !important;
}
input.login{
    font-size: 15px !important;
}
#loginCard:before{
    height: 100%;
    width: 100%;
    position: fixed;
    background: url('../img/VTR-background.jpg') no-repeat;
    background-size: cover;
    filter: blur(6px);
    z-index: -1;
    content: "";
}
span.badge{
    padding: 3px 6px;
    float:none;
    margin-bottom: 5px;
}
.row-small-margin{
    margin-bottom: 0px!important;
}
.fixed [type="checkbox"] + label, .fixed [type="radio"] + label {
    pointer-events: auto;
}
