#left-menu{
    height: 100vh;
}
.icon-margin{
    margin: 0 15px 0 25px;
}
aside#left-menu ul li{
    padding: 15px 0 !important;
}
.no-scroll{
    overflow-y:hidden;
}
.text-shadow {
    text-shadow: 2px 2px 4px #000000;
}