<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card white">
                <div class="card-image">
                    <img src="app/img/torres2.jpg">
                    <span class="card-title text-shadow">Listado de canales agregados</span>
                    <a class="btn-floating btn-large halfway-fab waves-effect waves-light red" ui-sref="channels.new"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <table width="100%" class="highlight centered">
                        <thead>
                        <tr>
                            <th>Canal</th>
                            <th>Nº Grilla</th>
                            <th>Nº T & B</th>
                            <th>Nº Network</th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr ng-repeat="channel in channels">
                            <td>{{channel.nombreCanal}}</td>
                            <td>{{channel.nGrilla}}</td>
                            <td>{{channel.nTB}}</td>
                            <td>{{channel.nNetwork}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




