<div class="navbar-fixed">
    <nav class="red darken-3">
        <div class="nav-wrapper">
            <!--<a href="#" class="brand-logo">ICD10's</a>-->
            <ul id="nav-mobile" class="right">
                <li ui-sref-active="active"><a class="white-text dashboard-text" ui-sref="dashboard.home"><i class="fas fa-tachometer-alt icon-margin"></i>Dashboard</a></li>
                <li ui-sref-active="active"><a class="white-text dashboard-text" ui-sref="channels.list"><i class="fab fa-schlix icon-margin"></i>Channels</a></li>
                <li ui-sref-active="active"><a class="white-text dashboard-text" ui-sref="campaigns.list"><i class="fab fa-font-awesome-flag icon-margin"></i>Campaigns</a></li>
                <!--<li ui-sref-active="active"><a class="white-text dashboard-text" ui-sref="dashboard.upload"><i class="fas fa-upload icon-margin"></i>Subir CSV</a></li>
                <li ui-sref-active="active"><a class="white-text dashboard-text" ui-sref="dashboard.icd10s"><i class="fas fa-file-alt icon-margin"></i>ICD10's</a></li>-->
                <li ui-sref-active="active" ng-click="logout()"><a class="white-text dashboard-text"><i class="fas fa-sign-out-alt icon-margin"></i>Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<main>
    <div ui-view="content"></div>
</main>