<section class="row hide">
    <ng-csv-import content="csv.content"
                   material
                   md-button-class="md-icon-button md-raised md-accent"
                   md-svg-icon="file:ic_file_upload_24px"
                   header="csv.header"
                   separator="csv.separator"
                   result="csv.result"
                   accept="csv.accept"></ng-csv-import>
</section>
<section class="row">
    <div class="col m4">
        <div class="card hoverable">
            <div id="chartDiv"></div>
        </div>
    </div>
    <div class="col m4">
        <div class="card hoverable">
            <div id="chartDiv2"></div>
        </div>
    </div>
    <div class="col m4">
        <div class="card hoverable">
            <div id="chartDiv3"></div>
        </div>
    </div>
</section>
