<section class="white">
    <table class="striped">
        <thead>
            <tr>
                <th>id</th>
                <th>card_id</th>
                <th>order_line_id</th>
                <th>break_id</th>
                <th>network</th>
                <th>broadcast_cue_time</th>
                <th>actual_play_time</th>
                <th>break_window_start_time</th>
                <th>break_window_end_time</th>
                <th>break_number</th>
                <th>offset</th>
                <th>status_type</th>
                <th>status_code</th>
                <th>number_of_second_viewed</th>
                <th>number_of_second_viewed_in_normal_mode</th>
                <th>number_of_second_viewed_in_trick_mode</th>
                <th>number_of_second_paused</th>
                <th>tuner_type</th>
                <th>box_type</th>
                <th>time_zone</th>
                <th>watch_probability</th>
                <th>time_since_last_key_press</th>
                <th>compatibility_index</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="icd10 in icd10s">
                <td>{{icd10.id}}</td>
                <td>{{icd10.card_id}}</td>
                <td>{{icd10.order_line_id}}</td>
                <td>{{icd10.break_id}}</td>
                <td>{{icd10.network}}</td>
                <td>{{icd10.broadcast_cue_time}}</td>
                <td>{{icd10.actual_play_time}}</td>
                <td>{{icd10.break_window_start_time}}</td>
                <td>{{icd10.break_window_end_time}}</td>
                <td>{{icd10.break_number}}</td>
                <td>{{icd10.offset}}</td>
                <td>{{icd10.status_type}}</td>
                <td>{{icd10.status_code}}</td>
                <td>{{icd10.number_of_second_viewed}}</td>
                <td>{{icd10.number_of_second_viewed_in_normal_mode}}</td>
                <td>{{icd10.number_of_second_viewed_in_trick_mode}}</td>
                <td>{{icd10.number_of_second_paused}}</td>
                <td>{{icd10.tuner_type}}</td>
                <td>{{icd10.box_type}}</td>
                <td>{{icd10.time_zone}}</td>
                <td>{{icd10.watch_probability}}</td>
                <td>{{icd10.time_since_last_key_press}}</td>
                <td>{{icd10.compatibility_index}}</td>
            </tr>
        </tbody>
    </table>
</section>